.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  width: 20%;
}

.content {
  width: 80%;
  background: #111;
}

@media (max-width: 992px) {
  .app-layout {
    flex-direction: column;
  }

  .sidebar, .content {
    width: 100%;
  }
}
