<div class="app-layout">
  <!-- Navbar -->
  <app-navbar class="navbar p-0" (menuToggle)="toggleSidebar()">
  </app-navbar>

  <!-- Sidebar -->
  <app-sidebar [class.open]="isSidebarOpen" (click)="closeSidebar()">
  </app-sidebar>

  <!-- Overlay (Tablet & Mobile only) -->
  <div class="sidebar-overlay" *ngIf="isSidebarOpen" (click)="closeSidebar()">
  </div>

  <!-- Main Content -->
  <main class="content">
    <div class="container-fluid p-3 p-md-4 p-lg-5 h-100">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>